@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(18, 18, 18);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}